.client-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    background-color: rgb(47, 42, 107);
    max-width: 140px;
    height: auto;
    overflow: hidden;
}

.client-logo:before {
    content: "";
    padding-top: 100%;
    float: left;
}

.client-logo img {
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

.client-logo:hover{
    background-color: #fff;
}
.client-logo:hover img{
    opacity: 1;
    filter: none;
}